<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript" src="/js/resultat.js?JSVersion=1.0"></script>
<link rel="stylesheet" type="text/css"
	href="/css/resultat.css?CSSVersion=1.0"></link>
<style type="text/css">
html {
	background: #E7E7E7;
	background-image: none
}
);
</style>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"></meta>
<meta content="fr" http-equiv="Content-Type"></meta>
<title>SPCOC Basket</title>
</head>
{% autoescape true %}

  <body>
  
    <table>
    <tbody>
    
    
    	
    	<tr>
    		
    		<td>Heure</td>
    		<td>Category</td>	       	
	       	<td>Domicile</td>	       	
	       	<td>Visiteur</td>
	       	<td>Arbitre</td>    	
	       	<td>Plan</td>
    	</tr>

	{% for journee, (domicile, exterieur) in data.iteritems() %}
	
    	
    	{% if domicile %}
    	
    	<tr>
    		<td colspan="3"> {{journee.strftime('%d/%m/%Y')}} : Gymnase </td>
    	</tr>
    	    	
    	{% for m in domicile %}
	        <tr>
	        	<td>{{ m.fullDate.strftime('%H:%M') }} </td>
		       	<td>{{ m.category }} </td>
		       		       	
		       	<td>{{ m.locaux }} </td>	       	
		       	<td>{{ m.visiteur }} </td>
		       	<td>{{ m.arbitre }}</td>
		       	<td><a href="{{ m.plan }}" target="_blank">Plan</a></td>
	       	</tr>
       	{% endfor %}
       	{% endif %}
       	
       	
       	{% if exterieur %}
    	
    	<tr>
    		<td colspan="3"> {{journee.strftime('%d/%m/%Y')}} : Exterieur </td>
    	</tr>
    	
    	
    	{% for m in exterieur %}
        <tr>
        	<td>{{ m.fullDate.strftime('%H:%M') }} </td>
	       	<td>{{ m.category }} </td>
	       		       	
	       	<td>{{ m.locaux }} </td>	       	
	       	<td>{{ m.visiteur }} </td>
	       	<td>{{ m.arbitre }}</td>
		    <td><a href="{{ m.plan }}" target="_blank">Plan</a></td>
       	</tr>
       	{% endfor %}
       	{% endif %}	
    
    {% endfor %}
    
    </tbody>
    </table>

     
    
    
    



  </body>
</html>
{% endautoescape %}